# Server Settings
PORT=3000
NODE_ENV="production"

# Database (PostgreSQL)
DATABASE_URL = 

DB_USER=
DB_PASSWORD=
DB_NAME=
REDIS_PASSWORD=

# Redis
REDIS_URL=

# Authentication (Better Auth)
BETTER_AUTH_SECRET= "SCRETE_KEY"

# BETTER_AUTH_URL
BETTER_AUTH_URL=

# Web Socket
WS_PORT=3000