@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --kantumruy-pro: 'Kantumruy Pro', sans-serif;
  --bayon: 'Bayon', sans-serif;
}

body {
  margin: 0;
  font-family: var(--kantumruy-pro), var(--bayon);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: var(--kantumruy-pro), var(--bayon);
}

html{
  font-family: var(--kantumruy-pro), var(--bayon);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sx-react-calendar-wrapper {
  max-width: 100vw;
  height: 800px;
  max-height: 80vh;
  overflow: auto;
}

/* table */
.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 2px solid #888;
  border-radius: 12px;
  overflow: hidden;
}

.custom-table th,
.custom-table td {
  border: 1px solid #888;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}
