@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --kantumruy-pro: 'Kantumruy Pro', sans-serif;
  --bayon: 'Bayon', sans-serif;
  --sx-color-bg: #ffffff;
  --sx-color-text: #111111;
}

body {
  margin: 0;
  font-family: var(--kantumruy-pro), var(--bayon);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: var(--kantumruy-pro), var(--bayon);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dark {
  --sx-color-bg: #111827; /* bg-gray-900 */
  --sx-color-text: #f3f4f6; /* text-gray-100 */
}
