PORT = 3000
NODE_ENV = "development"
LOG_LEVEL = info
DATABASE_URL = "postgresql://name:password@localhost:5432/db_name"
BETTER_AUTH_SECRET = SCRETE_KEY
BETTER_AUTH_URL = http://localhost:3000

WS_PORT = 3000